{{/*  This code is jank. There is probabbly a better way to do this  */}}

<script>
    subtitles = []
</script>

<style>
    #typewriter a{
        border-bottom: 1px solid var(--secondary)
    }
</style>

<span id="typewriter" ></span>

{{- range .}}
    <script>subtitles.push({{.}})</script>
{{- end}}

<script>
    new Typewriter('#typewriter', {
        strings: subtitles,
        autoStart: true,
        loop: true,
        delay: 75,
        stringSplitter(string) {
            const splitter = new GraphemeSplitter();
            return splitter.splitGraphemes(string);
        }
      }).start();
</script>